.git
.github
.hermes
.venv
venv
__pycache__
*.pyc
.mypy_cache
.pytest_cache
.ruff_cache
src/history/database.db
src/history/coursereg_history/data/raw
src/history/coursereg_history/data/cleaned
src/history/vacancy_history/data/raw
src/history/vacancy_history/data/cleaned
src/web/static/pages
